  .button {
    background-color: #2196f3;
    border-radius: 5px;
    border-style: none;
    color: white;
    filter: drop-shadow(0 2px 4px #92a1ad);
    font-size: 20px;
    padding: 20px 30px;
    width: 130px;
}