---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Fatima Guzman" description="About Fatima Guzman" />
		<style>
			/* .heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			} */

			.heroImg {
				height: 350px;
				object-fit: cover;
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Fatima</h1>
			<!-- <div class="heroImg"> -->
				<img class="heroImg"
					src="../assets/desk.jpg"
				/>
			<!-- </div> -->
			<div class="bio wrapper">
				<p>
					My career trajectory took many turns to get to where I am today, from film editing to fraud prevention and a 
					variety of positions and industries in between.
				</p>

				<p>
					I became interested in the world of web development in 2019, but it wasn't until the year that must not be named
					(aka: 2020) that I really took my career transition to the next level. I really wanted more out of my professional
					life, so I began to network and even obtained ongoing mentorship from multiple experienced web developers. 
				</p>

				<p>
					Though it's been tough while working full-time, all of the self-learning, online courses, workshops, and mentorships
					have prepared me for a Junior Developer role that I'm very much looking forward to!
				</p>
				
				
				
				
			</div>
		</div>
		<Footer />
	</body>
</html>
